name: Bonjour
on:
  - push
jobs:
  ci:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: './go.mod'
      - name: Checking Go version
        run: go version
      - name: Building
        run: make build
      - name: Unit tests
        run: make unit_test integration_test